*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://images.pexels.com/photos/1906440/pexels-photo-1906440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

header {
  padding: 1rem;
}

.navbar {
  position: fixed;
  width:100%;
  top:0;
  left: 0;
  background-color: #550808;
  font-family: sans-serif;
  color: white;
  
}
.navbar ul{
  margin-right: 2rem;
  flex-wrap: nowrap;
  font-size: 1.8rem;
  text-align: right;
  }

.navbar li{
  display: inline-block;
  list-style: none;
  padding: 1rem;
}
.navbar a {
  text-decoration: double;
  color: white;
}
hr{
  width: 100%;
  height: .2rem;
  border-color: grey;
  margin: 1rem;
}

h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3rem;
  text-align: center;
  text-overflow: clip;
  color: black;
}
h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  text-align: center;
  text-overflow: clip;
  color: rgb(30, 30, 30);
  margin: 5%;
}

#welcome-section{
  color: #550808;
  padding: 25% 25% 25% 25%;
  }

.profession {
  text-align: center;
  font-size: 200%;
  font-style: italic;
  font-weight: bold;
  color: #551111;
}

#projects{
  background-color: rgb(245, 199, 199);
}

.project-tile {
  display: grid;
  font-size: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
}

.image-1{
  background-color: rgba(255, 255, 255, 0.8);
}
.image-2{
  background-color: rgba(255, 255, 255, 0.8);
  
}
.image-3{
  background-color: rgba(255, 255, 255, 0.8);
}

#contact {
  background-color: rgb(230, 115, 115);
  opacity: 90%;
  padding: 3%;
  text-align: center;
}

.together{
  font-size: 3rem;
  margin: 5%;
}
.social-icons {
  display: grid;
  font-size: 1.5rem;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
}

.social-icons a {
  color: white;
  font-family: sans-serif;
}

@media only screen and (max-width: 1000px){
  body{
  }
}

@media only screen and (max-width: 480px){
.social-icons {
  display: grid;
  font-size: 1.5rem;
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-content: center;
}
.project-tile {
  display: grid;
  font-size: 1.5rem;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-content: center;
}
}

